.filters {
  display: flex;
  flex-direction: column;
  gap: 5%;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  background-color: var(--clr-main);
  color: whitesmoke;
}

.filter__purpose,
.filter__status,
.filter__priority {
  padding: 3px 0 3px 8px;
  box-sizing: border-box;
  margin: 2px 0 4px 0;
  width: 300px;
  border: none;
  border-radius: 6px;
  font-size: 1em;
  color: var(--clr-mainText);
  background-color: var(--clr-bcg);
  cursor: pointer;
}
