@import url("./components/_variables.css");
@import url("./components/_header.css");
@import url("./components/_filter.css");
@import url("./components/_footer.css");
@import url("./components/_modal.css");
@import url("./components/_visit.css");
@import url("./components/_modal-signIn.css");
@import url("./components/_modal-createVisit.css");

@font-face {
  font-family: "Bookman Old Style";
  src: url("../fonts/BookmanOldStyle.woff2") format("woff2"),
    url("../fonts/BookmanOldStyle.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bookman Old Style";
  src: url("../fonts/BookmanOldStyle-Italic.woff2") format("woff2"),
    url("../fonts/BookmanOldStyle-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bookman Old Style";
  src: url("../fonts/BookmanOldStyle-Bold.woff2") format("woff2"),
    url("../fonts/BookmanOldStyle-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bookman Old Style";
  src: url("../fonts/BookmanOldStyle-BoldItalic.woff2") format("woff2"),
    url("../fonts/BookmanOldStyle-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  position: relative;
  min-width: 350px;
  font-family: "Open Sans", sans-serif;
}

main {
  flex: 1 1 auto;

  background: url(../img/main_bacground.png), rgba(245, 239, 240, 0.8);
  background-blend-mode: screen;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.main__no-visits {
  position: absolute;
  bottom: 50%;
  border: 1px solid var(--clr-inactiveText);
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: var(--clr-inactiveText);
}

@media (min-width: 576px) {
  .header__container {
    grid-template-columns: 0.25fr 1fr 0.8fr;
    grid-template-rows: 1fr;
  }
  .header__logo-img {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
    width: 50px;
  }

  .header__logo-text {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: self-end;
    font-weight: 700;
  }
  .header__button {
    grid-area: 1 / 3 / 3 / 4;
  }

  .footer__container {
    padding: 8px;
    font-size: 0.8em;
  }
}

@media (min-width: 768px) {
  .header__container {
    grid-template-columns: 0.25fr 1fr 0.5fr;
  }
  .header__logo-img {
    width: 60px;
  }

  .header__logo-text {
    justify-self: center;
    font-size: 1.6em;
  }

  .filters {
    display: flex;
    flex-direction: row;
    gap: 4px;
  }
  .filter__purpose,
  .filter__status,
  .filter__priority {
    align-items: center;
    flex-grow: 1;
  }
}

@media (min-width: 992px) {

  .header__logo-img {
    width: 55px;
  }

  .header__logo-text {
    font-size: 2.2em;
  }
}

@media (min-width: 1200px) {

  .header__logo-img {
    width: 60px;
  }

  .header__logo-text {
    font-size: 2.4em;
  }
}

@media (min-width: 1400px) {
  .header__logo-img {
    width: 80px;
  }

  .header__logo-text {
    font-size: 3.2em;
  }
  .footer__container {
    padding: 8px;
    font-size: 1em;
  }
}
